* {
    font-family: 'Comfortaa', cursive !important;
}

.form-font-family {
    font-family: 'Comfortaa', cursive !important;
}

.in-hover:hover {
    background-color: white;
    color: #47587c !important;
    border-radius: 3px;
}

.in-hover-t:hover {
    background-color: white;
    color: #ffc107 !important;
    border-radius: 3px;
}

.navbar-title-hover:hover {
    color: white !important;
}

.mg {
    margin-left: 15%;
}

.mgg {
    margin-top: 90px !important;
}

.name-of-user-hover {
    transition: 0.7s;
}

.name-of-user-hover:hover {
    color: #00ff72 !important;
}

.section-style {
    background-color: rgb(186, 195, 195) !important;
    font-family: 'Comfortaa', cursive !important;
    font-family: 'Roboto Slab', serif !important;
    font-size: 14px !important;
}

.btn-font-size {
    font-size: inherit !important;
}

.span-photo {
    display: inline-block;
    margin: 15px 6px 0px -22px;
}

.img-user-style {
    width: 83px !important;
    height: 83px !important;
    border-radius: 50% !important;
    margin: 12px 2px 0px 2px !important;
}

.checked {
    color: yellow;
}

.not-checked {
    color: black;
}

.back-img {
    background-image: url("/public/files/bilding.jpg");
}

/* .btn-par {
    font-size: 13px !important;
    width: 17.9vw;
    height: 30px;
}

.se-par {
    width: 6.9vw;
    height: 30px;
} */
