* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive !important;
}

body {
    background-color: rgb(51, 119, 182);
    font-family: 'Comfortaa', cursive;
}

.alert-error-state {
    position: absolute;
    right: 50%;
    top: -40px;
    z-index: 4;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 5px;
    color: red;
    animation-name: trans;
    animation-duration: 9s;
    animation-timing-function: ease-out;
}

@keyframes trans {
    0% {
        top: -40px;
    }

    40% {
        top: 20px;
    }

    100% {
        top: -40px;
    }
}

.form-login-1 {
    margin: 10px;
    margin-top: 81px;
}

.pic {
    background-image: url(../files/main_background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 70%;
    position: fixed;
    height: 100vh;
    z-index: -1;
}

.pic::before {
    content: "";
    background-color: #250e2a;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
}

.form-login-div {
    width: 520px;
    min-height: 100%;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 30%;
}

.form-login-1 {
    margin: 9px 12px;
    font-size: 1.2vw;
}

.form-login-title {
    font-weight: bold;
    font-size: inherit;
    color: #712a83;
    display: inline-block;
    /* text-align: center; */
    margin-left: 40%;
    font-size: 1.4vw;
    background-color: #ed77e9ab;
    padding: 4px;
    border-radius: 30px;
    margin-bottom: 8%;
}

.input1 {
    display: block;
    width: 100%;
    height: 5vh;
    background: transparent;
    font-family: inherit;
    font-size: 22px;
    color: #555555;
    line-height: 1.2;
    padding: 0 2px;
    border-bottom: 3px solid rebeccapurple;
    font-size: inherit;
}
    font-family: inherit;
    font-size: inherit;
    color: #999999;
    line-height: 1.2;
    margin-left: 7px;
}

.wrap-input {
    margin-top: 2%;
}

input {
    outline: none;
    border: none;
}

button,
input {
    overflow: visible;
}

.have-account {
    margin-top: 24px;
}

.container-login-form-btn {
    margin: 15px;
}

.login-form-btn {
    background-color: #663399ba;
    padding: 4% 10%;
    margin-left: 28%;
    border-radius: 11px;
    color: white;
    border-width: thin;
    /* text-align: center; */
    font-size: inherit;
}

.alert-error {
    color: white;
    left: 8vw;
    position: relative;
    bottom: 5.5vw;
    background-color: #ff0000ad;
    border-radius: 4px;
    overflow-wrap: break-word;
    padding: 3px;
    display: inline-block;
    width: 70%;
    text-align: center;
}

.container-asq {
    text-align: center;
    margin-top: 5%;
    margin-left: 3%;
    border-style: dashed;
    border-width: 1px;
    border-color: rebeccapurple;
    padding: 6px;
}


.lin {
    margin-left: 2px;
    text-decoration: none;
    color: black;
}

.lin:hover {
    text-decoration: underline;
    color: rebeccapurple;
}
