* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(51, 119, 182);
    font-family: 'Comfortaa', cursive;
}

.pic {
    background-image: url(../Files/log_in_pic.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: calc(100% - 520px);
    position: absolute;
    height: 100vh;
    z-index: -1;
}

.alert-error {
    background-color: #e64a4a;
    position: relative;
    bottom: 69px;
    width: fit-content;
    border-radius: 8px;
    left: 318px;
}

.alert-error-state {
    position: absolute;
    right: 13%;
    top: 148px;
    z-index: 4;
    /* background-color: #0000ff87; */
    border-radius: 5px;
    color: red;
}

.pic::before {
    content: "";
    background-color: blueviolet;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
}

.form-login-div {
    width: 520px;
    min-height: 100%;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 10px;
}

.form-title {
    font-weight: bold;
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
}

.wrap-input {
    margin-top: 33px;
}

.input1 {
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    font-family: inherit;
    font-size: 22px;
    color: #555555;
    line-height: 1.2;
    padding: 0 2px;
    border-bottom: 3px solid rebeccapurple;
    font-size: 17px;
}

input {
    outline: none;
    border: none;
}

.label-input {
    padding: auto;
}

.form-login-1 {
    margin: 10px;
    margin-top: 81px;
}

.login-form-btn {
    background-color: #663399ba;
    padding: 10px 40px;
    position: absolute;
    right: 43px;
    bottom: 266px;
    border-radius: 26px;
    color: white;
}

.have-account {
    margin-top: 24px;
}

.lin {
    margin-left: 2px;
    text-decoration: none;
    color: black;
}

.lin:hover {
    text-decoration: underline;
    color: rebeccapurple;
}
