.for-size {
    width: fit-content !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.span-number-2 {
    color: rgb(255 247 0) !important;
}

.title-des {
    color: #00ffe7 !important;
    /* background-color: #d1ff00; */
    border-radius: 2px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    animation-duration: 1.5s;
    animation-name: change-color;
    animation-iteration-count: infinite;
    /* text-shadow: 1px 1px 2px green; */
}

@keyframes change-color {
    0% {
        /* background-color: #fffe00;
        text-shadow: H-shadow V-shadow Blur color; */
        text-shadow: 1px 1px 5px rgb(161, 4, 161);
    }

    50% {
        text-shadow: -2px -2px 5px rgb(0, 26, 255);
    }

    100% {
        text-shadow: 2px 2px 5px rgb(161, 4, 161);
    }
}


/* Tooltip text */
.tooltiptext {
    display: none;
    width: 49px;
    background-color: rgb(255 255 255 / 76%);
    color: rgb(0, 0, 0);
    /* text-align: center; */
    padding: 1px 3px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    bottom: 42px;
    right: 21px;

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipssss:hover .tooltiptext {
    display: contents;
}

/* @keyframes vis {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
} */
